
.t_menu-bar{
    width: 85%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.t_menu-bar>p{
    font-size:40px;
    font-weight: 700;
}
.menu-icons>i{
   margin-left: 20px;
}